<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312709397249-0ks0tooavk5p6c4c6asv3qt65dtnrik7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312709397249-0ks0tooavk5p6c4c6asv3qt65dtnrik7</string>
	<key>API_KEY</key>
	<string>AIzaSyCX0EyF1boKnKV4u1e741ZhRxsGa9wHtdI</string>
	<key>GCM_SENDER_ID</key>
	<string>312709397249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trungmua.miagri.vn</string>
	<key>PROJECT_ID</key>
	<string>app-trung-mua-21f9a</string>
	<key>STORAGE_BUCKET</key>
	<string>app-trung-mua-21f9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312709397249:ios:d5f228dde517b30faab900</string>
</dict>
</plist>