<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121797388043-tcq0aad9qm3m1f7052c7h1m1rk81e45j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121797388043-tcq0aad9qm3m1f7052c7h1m1rk81e45j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>121797388043-a6o96ggunbm95837hm3k0vf15dgagtqa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDL-PxzPR1SwfxopvGrKMg_RBWJ2Nvjsx0</string>
	<key>GCM_SENDER_ID</key>
	<string>121797388043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trungmua.miagri.vn</string>
	<key>PROJECT_ID</key>
	<string>app-trung-mua-c6213</string>
	<key>STORAGE_BUCKET</key>
	<string>app-trung-mua-c6213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121797388043:ios:4a3163596f3e17b4b1240e</string>
</dict>
</plist>